<html>
  <%- include('../partials/head') %>
  <body class="bg-[#E7F7FC] font-roboto">
    <div class="flex justify-center items-center h-full w-full">
      <div class="h-fit w-fit flex flex-col rounded-xl bg-[#80D3F0]  shadow-2xl p-6">
        <h1 class="flex text-5xl text-slate-800 font-bold">Welcome back!</h1>
        <p class="flex text-3xl text-slate-800">Let's get your username!</p>
        <form action="/login/email" method="POST" class="flex flex-col gap-3 mt-3 mb-0">
          <% if (errors.invalid ) { %>
            <label class="text-rose-600"><%= errors.invalid %></label>
          <% } %>
          
          <% if (errors.server_error ) { %>
            <label class="text-rose-600"><%= errors.server_error %></label>
          <% } %>  
          
          <% if (errors.username ) { %>
            <label class="text-rose-600"><%= errors.username %></label>
          <% } else { %>
            <label>Username: </label>
          <% } %>
          <input required type="text" name="username" class="rounded bg-[#007EA7] p-2" />
            
          <% if (errors.password ) { %>
            <label class="text-rose-600"><%= errors.password %></label>
          <% } else { %>
            <label>Password: </label>
          <% } %>
          <input
            required
            type="password"
            name="password"
            class="rounded bg-[#007EA7] p-2"
          />
          <input
            type="submit"
            class="cursor-pointer	place-self-center p-3 rounded  bg-[#007EA7] transition duration-300 hover:bg-[#00A7E1] rounded w-fit mt-3"
          />
        <!--<a class="cursor-pointer	tracking-wide text-slate-800 transition duration-300 border-b-2 border-slate-800 hover:border-[#00A7E1] w-fit" onclick="alert('aryan was here')">Forgot password?</a>-->
        <a href="/register" class="cursor-pointer	tracking-wide text-slate-800 transition duration-300 border-b-2 border-slate-800 hover:border-[#00A7E1] w-fit">Don't have an account? Register here!</a>
        </form>
        
      </div>
    </div>
  </body>
</html>
