<html>
  <%- include('../partials/head') %>
  <!-- Note to aryan: switch to font-barlow if you want barlow font-->
  <body class="font-roboto bg-[#E7F7FC]">
    <!-- Navbar -->
    <%- include('../partials/header') %>
    <!-- Main content -->
    <div class="flex flex-col mt-14 p-12 mx-auto gap-8 text-slate-800 grow">
      <% Object.keys(challenges).forEach((key) => { %>
        <div class="mb-12">
          <h2 class="text-4xl font-bold mb-6"><%= key.toUpperCase() %></h2>
          <div class="grid grid-cols-3 gap-4 justify-between">
            <% challenges[key].forEach((challenge) => { %>
              <div class="flex flex-col justify-between overflow-auto bg-[#003459] hover:bg-[#007EA7] ease-in duration-150 h-40 cursor-pointer p-4 rounded-lg shadow-md text-[#E7F7FC]">
                <div class="flex justify-between gap-2">
                    <h3 class="flex text-xl font-semibold"><%= challenge.title %></h3>
                    <%
                       var color = "text-[#37E100]"
                       switch (challenge.difficulty) {
                         case "beginner":
                           color = "text-[#00A7E1]"
                           break
                         case "easy":
                           color = "text-[#37E100]"
                           break
                         case "medium":
                           color = "text-[#E13A00]"                          
                           break
                         case "hard":
                           color = "text-[#AA00E1]"
                           break
                         default:
                           break
                       }
                    %>
                    <h3 class="flex text-xl font-semibold <%= color %>"><%= challenge.difficulty %></h3>
                </div>
                <div class="flex justify-between gap-2">
                    <p class="text-gray-700 text-white"><%= challenge.solveCount %> solves</p>
                    <p class="text-gray-700 text-white"><%= challenge.score %> points</p>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      <% }) %>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>