<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
    <body class="bg-[#E7F7FC] font-roboto">
    <div class="flex justify-center items-center h-full w-full">
      <div class="h-fit w-fit max-w-sm md:max-w-none flex flex-col rounded-xl bg-[#80D3F0] p-6 shadow-2xl">
        <h1 class="flex text-5xl text-slate-800 font-bold" >Welcome!</h1>
        <p class="flex text-3xl text-slate-800">Let's get you set up!</p>
        <form action="/register/email" method="POST" class="flex flex-col gap-3 mt-3 mb-0">
          <% if (errors.server_error ) { %>
            <label class="text-rose-600"><%= errors.server_error %></label>
          <% } %>  
          
          <% if (errors.email ) { %>
            <label class="text-rose-600"><%= errors.email %></label>
          <% } else { %>
            <label>Email:</label>
          <% } %>
          <input required type="text" name="email" class="rounded  p-2 bg-[#007EA7]" id="email"
          <% if (prev_values.email) { %>
            value="<%= prev_values.email %>"
          <% } %>>
            
          <% if (errors.username ) { %>
            <label class="text-rose-600"><%= errors.username %></label>
          <% } else { %>
            <label>Username:</label>
          <% } %>
          <input required type="text" name="username" class="rounded  p-2 bg-[#007EA7]" id="username"
          <% if (prev_values.username) { %>
            value="<%= prev_values.username %>"
          <% } %>>
            
            
          <% if (errors.password ) { %>
            <label class="text-rose-600"><%= errors.password %></label>
          <% } else { %>
            <label>Password:</label>
          <% } %>
          <input required type="password" name="password" class="rounded  p-2 bg-[#007EA7]" id="password"
          <% if (prev_values.password) { %>
            value="<%= prev_values.password %>"
          <% } %>>  
            
          <% if (errors.country ) { %>
            <label class="text-rose-600"><%= errors.country %></label>
          <% } else { %>
            <label>Country:</label>
          <% } %>
          <select id="country" name="country" class="rounded  p-2 bg-[#007EA7] text-slate-800 h-fit">
            <option value="" selected>Select your country!</option>
            <% countries.forEach(function(country) { %>
              <option value="<%= country %>"><%= country %></option>
            <% }); %>
            
          </select>
          <input type="submit" class=" cursor-pointer	 place-self-center	p-3 rounded rounded w-fit mt-3 bg-[#007EA7] duration-300 hover:bg-[#00A7E1]" >
          <a href="/login" class="cursor-pointer tracking-wide text-slate-800 transition duration-300 border-b-2 border-slate-800 hover:border-[#00A7E1] w-fit">
            <span class="hidden sm:inline">Already have an account? Login here!</span>
            <span class="sm:hidden">Got an account? Login here!</span>
          </a>
        </form>
      </div>
    </div>
  </body>
</html>